@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.xxx{
    font-size: 40px;
    font-weight: 15;
}
.ggg{
    font-size: 38px;
    font-weight: 170;
    font-family: 'Regular',serif;
}
.aaa{
    font-size: 38px;
    font-weight: 150;
}
.hhh{
    font-size: 20px;
    font-weight: 109;
}
*{
    margin: 0;
    padding: 0;
   }
.konteiner{
    display: flex;
    background-color: #818F99;
    
}
.text{
    display: flex;
    align-items: center;
  
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    width: 600px;
    height: 668px;
    background-color:#afbdbd;

}
.text2{
    display: flex;
    gap: 50px;
    background-color: #818F99;
}
.text3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #818F99;
}
.text4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #818F99;
}
